<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
 
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <connectionStrings>
    <add name="Tables.EfDbContext"  connectionString="Data Source=ВСЕ_БУДЕ_ДОБРЕ\\Olegko;Initial Catalog=;Integrated Security=true;" providerName="System.Data.SqlClient"/>
      </connectionStrings>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ValidMetods" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Serv/Service1/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ValidMetods"
        contract="ServiceReference1.ValidMetods" name="BasicHttpBinding_ValidMetods" />
    </client>
  </system.serviceModel>
</configuration>